nav.menu ul li.btn{
	display: inline-block;
	list-style-type: none;
	font-size: 35px;
}

nav.menu ul li.btn a{
	color: white;
	background-color: #BEA11F;
	padding: 9px;
	text-decoration: none;
}

nav.menu ul li.btn:hover a{
	color: #BEA11F;
	background-color: white;
	transition: 0.3s all;
}

p#slogan{
	color: #BEA11F;
	font-size: 25px;
}

div#content{
	background-color: white;
}

div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1, p, iframe{
	margin: 35px;
}

div#content div.leftbox{
	background-color: white;
	vertical-align: top;
	font-size: 20px;
	color : #9C7C08;
}

div#content div.rightbox{
	background-color: #BEA11F;
	font-size: 20px;
	color : white;
}

div#content div.leftbox p#para1{
	font-size: 20px;
	color: #BEA11F;
}

div#content div.leftbox img{
	margin-left: 50px;
}

div#content div.rightbox img{
	margin-left: 50px;
	margin-bottom: 20px;
}

p#description {
	color:#B8B8AE;
	font-size: 25px;
}

p#titre{
	padding:30px;
	font-size:30px;
	background-color: #BEA11F;
	color:white;
}

p#des{
	margin-left: 200px;
	margin-right: 200px;
	color:#9C7C08;
}

ul#log li#l{
	font-size: 20px;
	list-style-type: none;
	margin-right: 100px;
	margin-left: 100px;
}

ul#log li#l a{
	text-decoration: none;
	color : black;
}
p#des a{
	text-decoration: none;
	color : #9C7C08;
}